.header__wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.main__wrapper {
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: calc( 100vh - 150px );
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.main__inner {
  width: 100%;
  max-width: 1200px;
  height: 100%;
}

.footer__wrapper {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
  width: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}