.postitem__wrapper {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin-bottom: 20px;
  width: 600px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  backdrop-filter: blur(10px);
}

.postitem__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  margin-right: 10px;
}

.postitem__delete_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 60px;
}

.postitem__delete_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: rgb(243, 131, 131);
  cursor: pointer;
  transition: .4s;
  &:hover {
    color: #f00;
  }
}
